<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
<body>
  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8" />

      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <% if (data[articleId].category === "metal") { %>
      <link rel="stylesheet" href="/metal-index.css">
      <% } %>

      <title>Nieuwswebp</title>
    </head>
    <body>
      <header class="">
        <h1>Nieuws</h1>
        <a class="leeslijst" href="#">Leeslijst <span>3</span></a>
      </header>
      <h1><%= data[articleId].title %></h1>
      <img
        src="<%= data[articleId].urlToImage %>"
        alt=""
      />
      <p><%= data[articleId].content %></p>



    </body>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>

  <script src="/index.js"></script>
</html>
