body {
  background-color: black;
  color: white;
}

.tint:before {
  background: rgba(178, 34, 34, 0.4);
}

.leeslijst {
  background-color: rgb(178, 34, 34);
}

.leeslijst span {
  color: rgb(178, 34, 34);
}

a:focus {
  background: rgba(178, 34, 34, 1);
}
